## > PHP Image
# See: hub.docker.com/_/php

# Development image | Required
PHP_IMAGE=

# Alpine Image | Required
PHP_ALPINE_IMAGE=

## < PHP Image

## > Application

# Version ID | Required
VERSION=

# Workspace directory
# Default: /app
WORKDIR=

# Target build
# Default: develop
# 	- base: Common base setup
#   - skeleton: Manifest libraries files
#	- develop: Environment with all libraries
#	- source: Application with all code base + binary
#	- unit: Base setup + Binary - Code base
#	- artifact: Generate from scratch code base + binary
# 	- unit-alpine: Alpine Image + binary
BUILD_TARGET=

# Location of binary
# Default: /usr/bin/phptree
ABSPATH_PHPTREE=

# Image Name | Required
PHPTREE_IMAGE=

## < Application
