*
!*.php
!composer.json
!composer.lock
!src
!src/Internal
!src/Command
!src/Serializer
!src/Serializer/Normalizer
!src/Serializer/Normalizer/Node
!src/Parser
!src/Parser/Data
!src/Resolver
!src/Scanner
!src/Interface
!src/Enum
!src/Formatter
!src/Presenter
!src/Writer
!src/Trait
!bin
!bin/*
!mk
!mk/*
!docker-compose.yml
!docker-compose
!docker-compose/*.yml
!Dockerfile
!Makefile
!.dockerignore
!.gitignore
!.env.example
!README.md
!README.fr.md
